# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
dfg=data.groupby(["CustomerID", "ProductName"]).sum()

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

 ----------------
 pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)
 -------------------

In [5]:
pivot=pd.pivot_table(dfg, index="ProductID", values="Quantity", columns="CustomerID")

In [11]:
pivot_not_nan=pivot.fillna(0)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

-------------

#1st way
- calculate the distance between users
- insert that distance in squareform

---------------

In [12]:
distances = pdist(pivot_not_nan, 'euclidean')
print(distances)
print("-----Squareform-----")
print(squareform(distances))

[242.50051546 242.56545508 243.7867921  ...  65.7951366   90.68627239
  73.1641989 ]
-----Squareform-----
[[  0.         242.50051546 242.56545508 ... 187.29121709 179.46308813
  190.00526308]
 [242.50051546   0.         223.70628064 ... 192.91578474 185.32538952
  189.54814692]
 [242.56545508 223.70628064   0.         ... 185.36450577 176.07668784
  188.1063529 ]
 ...
 [187.29121709 192.91578474 185.36450577 ...   0.          65.7951366
   90.68627239]
 [179.46308813 185.32538952 176.07668784 ...  65.7951366    0.
   73.1641989 ]
 [190.00526308 189.54814692 188.1063529  ...  90.68627239  73.1641989
    0.        ]]

---------------

# 2nd way: the chachi pistachi dataframe normalized
# IMPORTANT
- the same than before
    - with column names
    - with cool frame
    - beware the normalization
        - +3 to charisma
        - -4 to armor
    
------------

In [15]:
distances = pd.DataFrame(1/(1 + squareform(pdist(pivot_not_nan.T, 'euclidean'))), 
                         index=pivot_not_nan.columns, columns=pivot_not_nan.columns)

distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.076435,0.085638,0.082942,0.079111,0.081430,0.075025,0.082632,0.079246,0.078977,...,0.004805,0.004669,0.004497,0.005019,0.004304,0.004596,0.004578,0.004424,0.004170,0.004333
200,0.076435,1.000000,0.078448,0.076134,0.072740,0.078382,0.074129,0.077109,0.077674,0.075956,...,0.004829,0.004676,0.004496,0.005041,0.004311,0.004603,0.004602,0.004436,0.004162,0.004343
264,0.085638,0.078448,1.000000,0.080848,0.082251,0.082327,0.075025,0.081430,0.083333,0.079518,...,0.004822,0.004679,0.004488,0.005035,0.004316,0.004616,0.004595,0.004435,0.004168,0.004341
356,0.082942,0.076134,0.080848,1.000000,0.079861,0.078579,0.073425,0.086867,0.077865,0.077610,...,0.004816,0.004676,0.004498,0.005025,0.004318,0.004606,0.004568,0.004434,0.004172,0.004344
412,0.079111,0.072740,0.082251,0.079861,1.000000,0.078777,0.074911,0.082479,0.077547,0.076800,...,0.004805,0.004688,0.004495,0.005035,0.004314,0.004613,0.004588,0.004432,0.004174,0.004345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004596,0.004603,0.004616,0.004606,0.004613,0.004611,0.004607,0.004609,0.004611,0.004610,...,0.003547,0.003547,0.003375,0.003634,0.003331,1.000000,0.003506,0.003489,0.003200,0.003231
98069,0.004578,0.004602,0.004595,0.004568,0.004588,0.004578,0.004580,0.004581,0.004595,0.004588,...,0.003565,0.003456,0.003453,0.003509,0.003393,0.003506,1.000000,0.003619,0.003255,0.003483
98159,0.004424,0.004436,0.004435,0.004434,0.004432,0.004433,0.004440,0.004436,0.004443,0.004438,...,0.003390,0.003619,0.003340,0.003466,0.003263,0.003489,0.003619,1.000000,0.003263,0.003210
98185,0.004170,0.004162,0.004168,0.004172,0.004174,0.004170,0.004164,0.004169,0.004165,0.004164,...,0.003266,0.003162,0.003242,0.003406,0.003133,0.003200,0.003255,0.003263,1.000000,0.003245
98200,0.004333,0.004343,0.004341,0.004344,0.004345,0.004339,0.004330,0.004340,0.004329,0.004339,...,0.003469,0.003300,0.003319,0.003393,0.003245,0.003231,0.003483,0.003210,0.003245,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [41]:
# I choose the number 33 customer, and I'll check the closest customers affinity
distances.sort_values(by=[33],ascending=False).head(6)

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.076435,0.085638,0.082942,0.079111,0.081430,0.075025,0.082632,0.079246,0.078977,...,0.004805,0.004669,0.004497,0.005019,0.004304,0.004596,0.004578,0.004424,0.004170,0.004333
3535,0.087047,0.079518,0.086333,0.082024,0.088721,0.086957,0.082403,0.088817,0.084626,0.084959,...,0.004817,0.004672,0.004486,0.005036,0.004309,0.004604,0.004582,0.004433,0.004169,0.004336
1072,0.086688,0.085297,0.085983,0.084876,0.083176,0.084544,0.081503,0.086957,0.083651,0.080920,...,0.004817,0.004665,0.004477,0.005043,0.004315,0.004609,0.004579,0.004427,0.004165,0.004342
264,0.085638,0.078448,1.000000,0.080848,0.082251,0.082327,0.075025,0.081430,0.083333,0.079518,...,0.004822,0.004679,0.004488,0.005035,0.004316,0.004616,0.004595,0.004435,0.004168,0.004341
3305,0.085212,0.078382,0.085212,0.084792,0.081283,0.081949,0.077610,0.087228,0.086957,0.083891,...,0.004810,0.004672,0.004500,0.005030,0.004304,0.004605,0.004576,0.004437,0.004167,0.004328
3074,0.084959,0.080634,0.082403,0.081430,0.081065,0.084216,0.075956,0.086599,0.081503,0.082403,...,0.004817,0.004677,0.004486,0.005029,0.004312,0.004610,0.004588,0.004435,0.004165,0.004342

In [42]:
# there they are. Column 0, elements [1:5]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.